@page "/"
@inject ProvaBlazor.Data.MiaClasseUtile x

<h1>Hello, world!</h1>

Welcome to your new app: @x.Saluto()

<SurveyPrompt Title="How is Blazor working for you?" />

<SurveyPrompt Title="Questo è un mio test" />
